# Entorno virtual y archivos de entorno local
venv/
.env

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pydist

# Archivos de Jupyter Notebooks con checkpoints
.ipynb_checkpoints/

# Archivos de compilación de TensorFlow
*.so

# Carpetas de subidas y descargas que no son necesarias en el repositorio
src/descargas/
src/uploads/

# Datos crudos (no necesarios para producción en Flask)
data/raw/

# Archivos de log
*.log

# Configuración local de desarrollo
.vscode/
.idea/
.gitpod.yml

# Archivos innecesarios relacionados con Git
.DS_Store